p {
    position: relative;
}
div.info span.info_bulle {
    display: none;
}
div.info:hover span.info_bulle,
div.info:focus span.info_bulle {
    display: inline;
    position: absolute;
    transform: translateY(3px);
    margin-left: 1em;
    padding: 2px 5px;
    background: #f19886; 
    color: #fff; 
    padding: 8px;
    border: none;
    font-style: italic;
    border-radius: 4px;
    
}
div.info strong{
    color: #f19886;
    font-weight: 700;
    font-family: 'Tangerine', cursive;
    font-size: 2em;
}
.container-tags{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#description{
    font-style: italic;
    margin-bottom: 50px;
    font-size: 1.2em;
}

#description i {
    margin-left: 5px;
    color: #f19886;
}
.container-tags div.info {
    font-size: 1.4em;
    cursor: pointer;
}