html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

#navBar {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: rgb(102, 87, 84);
	padding: 10px 0;
}

#navBar a,
.buttons {
	color: white;
	font-size: 1.5em;
	font-family: "Times New Roman";
}

#navBar a:hover {
	color: #f19886;
	transform: scale(1.1);
}
.mainTitle {
	margin-top: 50px;
	display: flex;
	font-size: 5em;
	justify-content: center;
	font-family: "Tangerine", cursive;
	color: rgb(102, 87, 84);
}

header {
	width: 100%;
	height: 70px;
	background-color: #3a3a3a;
	display: flex;
	align-items: center;
	position: relative;
	flex-direction: row;
	transition: 500ms;
}
header button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
/* Ici pour positionner comme on veut .content , on met une position relative à son parent.
Mainteant .content va se positionner par à dropdown1 */
header .dropdown-1,
header .dropdown-2,
header .dropdown-3 {
	position: relative;
	height: 100%; /* Ici on se met une hauteur car content se refère au button pas à la navbar.
    Du coup onglet 3 n'est plus aligné donc on va mettre un display flex */
	display: flex;
}
/* Pour cacher les sous onglets */
header .dropdown-1 .content,
header .dropdown-2 .content,
header .dropdown-3 .content {
	display: none;
}
/* Ici on les fait s'afficher que au survol de dropdown */
header .dropdown-1:hover .content,
header .dropdown-2:hover .content,
header .dropdown-3:hover .content {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: rgb(149, 131, 127);
	/* Ici on veut que notre sous menu soit en bas de la navbar donc on va le positionner avec un top qui fait la meme hauteur que la navbar */
	top: 50px; /*  La navbar a une hauteur de 70px */
	left: -10px;
	width: 110%;
	padding: 10px 15px;
	box-sizing: border-box;
	gap: 10px;
}

p {
    position: relative;
}
div.info span.info_bulle {
    display: none;
}
div.info:hover span.info_bulle,
div.info:focus span.info_bulle {
    display: inline;
    position: absolute;
    padding: 2px 5px;
    background: #f19886; 
    color: #fff; 
    padding: 8px;
    border: none;
    font-style: italic;
    border-radius: 4px;
    
}
div.info strong{
    color: #f19886;
    font-weight: 700;
    font-family: 'Tangerine', cursive;
    font-size: 2em;
    padding-bottom: 10px;
    margin-left: 5px;
}
.container-tags{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#description{
    font-style: italic;
    margin-bottom: 50px;
    font-size: 1.2em;
}

#description i {
    margin-left: 5px;
    color: #f19886;
}
.container-tags div.info {
    font-size: 1.4em;
    cursor: pointer;
    display: flex;
    align-items: center;
}
